
@use '../mixins' as *;
@use '../variables' as *;

footer{
    background-color: $color-black;
    color: $color-gray;
    text-align: center;
    padding-block: 1.2rem;

    p{
        text-decoration: underline;
    }
    a{
        font-family: $ff-serif;
        font-size: 0.875rem;
    }
}

.socials{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .8rem;

    a {
        font-size: 1.2rem;
        padding: 1.2rem;
    }

    @include for-size(laptop){
        flex-direction: row;

        
    }
}