@use '../variables' as *;
@use '../mixins' as *;

.modal{
    border: 1px solid;
    position: fixed;
    inset: 8px;
    background-color: $color-black;
    color: $color-gray;
    display: grid;
    place-items: center;
    font-size: 0.85rem;
    z-index: 10
    // The z-index of the modal is made to be higher than the z-index of the nav toggle button
}


.modal-container{
    width: 85%;
    max-width: 750px;
    margin: 0 auto;
    border: 1px solid red;
}




.modal-links{
    display: flex;
    justify-content: space-between;
    margin-block: 1.1rem;
    a{
        text-transform: uppercase;
        font-size: 2.5rem;
        line-height: 1;
    }
}