@use './variables' as *;
// Using the older syntax for better support
// media query mixin

@mixin for-size($size){
    @if $size == mobile {
        @media screen and (max-width: 490px) {
            @content;
        }
    } @else if $size == ipad {
        @media (min-width: 491px) and (max-width: 780px) {
            @content;
        }
    } @else if $size == laptop {
        @media screen and (min-width: 780px) {
            @content;
        }
    }
}


@mixin six-cap-title($font-size, $color){
    font-size: $font-size;
    letter-spacing: 6px;
    font-family: $ff-san-serif;
    color: $color;
    text-transform: uppercase;
}