@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Six+Caps&display=swap');



$ff-serif: 'Merriweather', serif;
$ff-san-serif: 'Six Caps', san-serif;
$color-accent: #3B60E4;
$color-gray: #D9D9D9;
$color-black: #080708;
$color-accent-alpha: #3b60e487;
$color-black-alpha: #080708f2;
$color-warn: #d75757;
$color-success: #40cd40d6;