@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Six+Caps&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  margin: 0;
  font-family: "Merriweather", serif;
}

img,
svg {
  max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

input,
textarea,
button,
label {
  display: inline-block;
  font: inherit;
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 3rem;
}

h1,
h2,
h3 {
  line-height: 1.1;
  margin-top: 0;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
  color: #3B60E4;
  text-align: center;
}

a {
  font-family: "Six Caps", san-serif;
  font-size: 4rem;
  text-decoration: none;
  color: #D9D9D9;
  display: inline-block;
  transition: color ease 350ms;
}
a:hover {
  color: #3B60E4;
}

h3 {
  font-family: "Six Caps", san-serif;
  font-size: 2.5rem;
}

figure,
ul,
figcaption {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  width: 95%;
  max-width: 1024px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  background-color: #3B60E4;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 0.85rem;
  padding: 0.85rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: color 350ms ease, background-color 350ms ease;
}
button:hover {
  color: var(--color-accent);
  background-color: whitesmoke;
}

.btn-nav-toggle {
  position: fixed;
  top: 8px;
  left: 8px;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  padding: 1.8rem;
  z-index: 8;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" fill="white"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  transition: border-radius 350ms ease;
}
.btn-nav-toggle:hover {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" fill="%233B60E4"/></svg>');
}
.btn-nav-toggle[data-menu-open=true] {
  border-radius: 3rem;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="white"/></svg>');
}
.btn-nav-toggle[data-menu-open=true]:hover {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="%233B60E4"/></svg>');
}

header {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-image: url("../../assets/images/header-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(8, 7, 8, 0.9490196078);
  background-blend-mode: multiply;
  background-position: center;
}

.header-text {
  text-align: center;
  color: white;
}
.header-text span {
  display: block;
  color: #3B60E4;
  font-family: "Six Caps", san-serif;
  font-size: 6rem;
  letter-spacing: 6.02px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  background-color: #080708;
  display: grid;
  place-items: center;
  transition: right 350ms ease;
}
nav[data-open=false] {
  right: 100%;
}
nav[data-open=false] ul {
  display: none;
}
nav[data-open=true] {
  right: 20%;
}

.welcome {
  display: grid;
}
@media (min-width: 491px) and (max-width: 780px) {
  .welcome {
    grid-template-columns: auto 70vw auto;
  }
}
@media screen and (min-width: 780px) {
  .welcome {
    grid-template-columns: auto 40vw auto;
  }
}

.welcome-title {
  font-size: 3.56rem;
  letter-spacing: 6px;
  font-family: "Six Caps", san-serif;
  color: #D9D9D9;
  text-transform: uppercase;
  margin-bottom: 0;
}

.welcome-text {
  background-color: #080708;
  text-align: center;
  padding: 2.125rem;
  color: #D9D9D9;
}

.image-left,
.image-right {
  background-color: #3B60E4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  background-blend-mode: multiply;
}

.image-right {
  background-image: url("../../assets/images/image-right.jpg");
}

.image-left {
  background-image: url("../../assets/images/image-left.jpg");
}

.about-me {
  margin-block: 3.3125rem;
}

.about-role {
  font-size: 2.56rem;
  letter-spacing: 6px;
  font-family: "Six Caps", san-serif;
  color: #080708;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
}

.about-top {
  display: grid;
  grid-template-columns: [image-start] 18% [title-start] auto [image-end] 1rem [title-end];
  grid-template-rows: [image-start] 38% [title-start] 7rem [title-end] auto [image-end];
}
.about-top img {
  grid-column: image-start/image-end;
  grid-row: image-start/image-end;
}
.about-top h2 {
  grid-column: title-start/title-end;
  grid-row: title-start/title-end;
  margin: 0;
  width: 40%;
  text-align: left;
}

@media screen and (min-width: 780px) {
  .about-bottom {
    margin-left: auto;
    width: 60%;
  }
}

.portfolio {
  background-color: #D9D9D9;
  padding-block: 3.5rem;
}

.portfolio-item {
  color: #D9D9D9;
}
.portfolio-item figure {
  border: 1px solid;
  display: grid;
  display: grid;
  grid-template-columns: [image-start] 0.1px [caption-start] auto [caption-end] 0.1px [image-end];
  grid-template-rows: [image-start] 0.1px [caption-start] auto [caption-end] 0.1px [image-end];
}
.portfolio-item img {
  grid-column: image-start/image-end;
  grid-row: image-start/image-end;
  aspect-ratio: 1;
}
.portfolio-item figcaption {
  grid-column: caption-start/caption-end;
  grid-row: caption-start/caption-end;
  padding: 0.82rem;
  background-color: rgba(8, 7, 8, 0.9490196078);
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
}
.portfolio-item.featured figcaption {
  visibility: visible;
  opacity: 1;
}
.portfolio-item:hover figcaption, .portfolio-item:focus figcaption {
  visibility: visible;
  opacity: 1;
}

.portfolio-items {
  display: grid;
}
@media (min-width: 491px) and (max-width: 780px) {
  .portfolio-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio-items .featured {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
  }
}
@media screen and (min-width: 780px) {
  .portfolio-items {
    grid-template-columns: repeat(3, 1fr);
  }
  .portfolio-items .featured {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
  }
}

.modal {
  border: 1px solid;
  position: fixed;
  inset: 8px;
  background-color: #080708;
  color: #D9D9D9;
  display: grid;
  place-items: center;
  font-size: 0.85rem;
  z-index: 10;
}

.modal-container {
  width: 85%;
  max-width: 750px;
  margin: 0 auto;
  border: 1px solid red;
}

.modal-links {
  display: flex;
  justify-content: space-between;
  margin-block: 1.1rem;
}
.modal-links a {
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 1;
}

.contact {
  margin-block: 2.85rem;
}
.contact h2 {
  margin: 0;
}
.contact form {
  margin-top: 1.5rem;
  width: 60%;
  min-width: 250px;
  margin-inline: auto;
}
.contact form label {
  display: grid;
  margin-bottom: 1.4rem;
}
.contact form button {
  margin-left: auto;
  display: block;
}
.contact form input,
.contact form textarea {
  width: 100%;
}
.contact form input:invalid,
.contact form textarea:invalid {
  outline: 1px dotted #d75757;
}
.contact form input:focus:invalid,
.contact form textarea:focus:invalid {
  outline: none;
}
.contact form textarea {
  min-height: 8rem;
  resize: none;
}
@media screen and (min-width: 780px) {
  .contact form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.4rem;
    grid-template-areas: "inp-name inp-email" "inp-text inp-text" ". btn-submit";
  }
  .contact form label:has(input[name=full_name]) {
    grid-area: inp-name;
  }
  .contact form label:has(input[name=email]) {
    grid-area: inp-email;
  }
  .contact form label:has(textarea[name=message]) {
    grid-area: inp-text;
  }
  .contact form button {
    grid-area: btn-submit;
  }
}

footer {
  background-color: #080708;
  color: #D9D9D9;
  text-align: center;
  padding-block: 1.2rem;
}
footer p {
  text-decoration: underline;
}
footer a {
  font-family: "Merriweather", serif;
  font-size: 0.875rem;
}

.socials {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.8rem;
}
.socials a {
  font-size: 1.2rem;
  padding: 1.2rem;
}
@media screen and (min-width: 780px) {
  .socials {
    flex-direction: row;
  }
}

/*# sourceMappingURL=index.css.map */
